<configuration scan="true">
    <appender name="consoleJsonAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <!--jsonGeneratorDecorator class="net.logstash.logback.mask.MaskingJsonGeneratorDecorator">
                <valueMasker class="no.nav.permitteringsskjemaapi.config.LogMasker"/>
            </jsonGeneratorDecorator-->
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="consoleJsonAppender"/>
    </root>
</configuration>
